{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <style>
.tooltip-inner {
  background-color: #0d6efd;
  color: #fff;
  
  font-size: 0.9rem;
}
.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: #0d6efd;
}
.bs-tooltip-end .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: #0d6efd;
}
.bs-tooltip-bottom .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: #0d6efd;
}
.bs-tooltip-start .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: #0d6efd;
}



.file-upload{
    width: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    position: absolute;
    bottom: 0;
}

.btn-h:hover {
  color: #007bff;
}

    </style>
{% endblock 'head' %}

{% block 'titulo' %}Attorney GPT{% endblock 'titulo' %}

{% block 'conteudo' %}
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light d-flex justify-content-center">
                <button class="btn btn-sm btn-primary text-capitalize" id="newChatBtn">
                    <i class="fa-regular fa-comments"></i>
                    <span>&nbsp Novo chat</span>
                </button>
            </div>
            <div class="list-group">
                {% include 'history-block.html' with hist_context=t_questions id='t-block' text='Hoje' %}
                {% include 'history-block.html' with hist_context=s_questions id='s-block' text='Últimos 7 dias' %}
                {% include 'history-block.html' with hist_context=td_questions id='td-block' text='Últimos 30 dias' %}
            </div>
            <form action="" class="file-upload">
                <button class="btn btn-h me-2 mb-2" data-toggle="tooltip" data-placement="top" title="Enviar arquivo"><i class="fa-solid fa-file-arrow-up"></i></button>
                <button class="btn btn-h me-3 mb-2" data-toggle="tooltip" data-placement="top" title="Enviar imagem"><i class="fa-solid fa-file-image"></i></button>
            </form>
        </div>

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-link" id="sidebarToggle" onclick="toggleIcon()" 
                        data-toggle="tooltip" data-placement="right">
                        <i class="bi bi-chevron-left" id="toggleIcon"></i>
                    </button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-arrow"></span>
                    </button>

                    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <img src="{% static 'base/img/attorney-gpt-text-black.png' %}" alt="" width="164" height="40">
                            </li>
                        </ul>
                        <ul class="navbar-nav mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="#">Pergunta</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Chat</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ user.foto_perfil.url }}" class="rounded-circle" height="25" loading="lazy"/>
                                    <strong class="d-none d-sm-block ms-1">{{ user.username }}</strong>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#!">Configurações</a>
                                    <a class="dropdown-item" href="#!">Ajuda</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'usuario:sair' %}">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Page content-->
            <div class="container-fluid container-fluid-2">
                <div class="chat-container p-3"></div>
            </div>
            
            <!-- Question content -->
            <form action="" class="d-flex justify-content-center" id="question_form">
                <div class="submit-form bg-light">
                    <textarea class="form-control border-0 bg-light ms-2" id="input_value" placeholder="Pergunte-me qualquer coisa..." required></textarea>
                    <button class="btn btn-h me-2 mb-2" id="submit-btn"><i class="fa-solid fa-gavel"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock 'conteudo' %}

{% block 'script' %}
<script type="text/javascript">
    var userFotoPerfilUrl = "{{ user.foto_perfil.url }}";
    var botImageUrl = "{% static 'base/img/bot.jpg' %}";
</script>

<script>
let form = document.querySelector('#question_form')
let textarea = document.querySelector('#input_value')
let chat_container = document.querySelector('.chat-container')
let isFirstMessage = true;
let currentChatMessageId = null;


// Ajuste na altura da caixa de perguntas
document.getElementById('input_value').addEventListener('input', function () {
    this.style.height = '';

    if (this.scrollHeight <= 150) {
        this.style.height = this.scrollHeight + 'px';
        document.documentElement.style.setProperty('--submit-form-height', this.style.height);
        document.querySelector('.container-fluid-2').style.height = 'calc(80vh - ' + this.style.height + ' + 38px)';
    } else {
        this.style.height = '150px';
        document.documentElement.style.setProperty('--submit-form-height', this.style.height);
        document.querySelector('.container-fluid-2').style.height = 'calc(80vh - ' + this.style.height + ' + 38px)';
    }

    if (this.value === '') {
        this.style.height = '40px';
        document.documentElement.style.setProperty('--submit-form-height', '60px');
        document.querySelector('.container-fluid-2').style.height = '80vh';
    }
});


// Botão para ciar um novo chat
document.addEventListener('DOMContentLoaded', function () {
    let newChatBtn = document.getElementById('newChatBtn');

    newChatBtn.addEventListener('click', function (event) {
        event.preventDefault();
        location.reload();
    });
});


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');


// Bloco para envio das mensagens
async function postJSON(data) {
    const url = '/chat/get-question/'

    try {
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(data),
        });

        const result = await response.json();
        chat_container.innerHTML +=
            `<div class="d-flex flex-row justify-content-end mb-1">
                <div class="mw-75">
                    <p class="small me-3 mb-3 rounded-3 user-chat">${result.msg}</p>
                </div>
                <img src="${userFotoPerfilUrl}" class="rounded-circle" style="width: 45px; height: 100%;">
            </div>
            <div class="d-flex flex-row justify-content-start mb-1">
                <img src="${botImageUrl}" class="rounded-circle" style="width: 45px; height: 100%;">
                <div class="mw-75">
                    <p class="small ms-3 mb-3 rounded-3 bot-chat">${result.res}</p>
                </div>
            </div>`;

        textarea.value = ''
        
        return result.first_id;
    } catch (error) {
        console.error("Erro:", error);
    }
}


// Bloco para atualização da caixa de histórico na sidebar
function updateHistoryBlock(message, chat_id) {
    let todayBlock = document.getElementById('t-block');
    

    if (todayBlock) {
        let todayList = todayBlock.querySelector('ul');
        let todayMessages = todayList.querySelectorAll('li');

        let messageExists = Array.from(todayMessages).some(function (li) {
            return li.querySelector('.history-container a').textContent === message;
        });

        if (messageExists) {
            console.log('Mensagem já existe:', message);
        } else {
            let messageId = todayBlock.dataset.id && todayBlock.dataset.id !== "" ? todayBlock.dataset.id : chat_id;
            let viewMessageUrl = `/chat/view-messages/${messageId}`;

            todayList.innerHTML += 
                `<li>
                    <div class="history-container" data-id="${messageId}" onmouseover="showButtons(this)" onmouseout="hideButtons(this)">
                        <a href="${viewMessageUrl}" id="view_messages_${messageId}" class="view_messages_link">
                            <div class="history">${message}</div>
                        </a>
                        <div class="history-buttons">
                            <button class="btn-edit"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn-delete"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </li>`;
        }
    }
}


// Bloco para renderizar as mensagens do hisórico no chat
async function renderMessages(chat_message_id) {
    const url = `/chat/view-messages/${chat_message_id}`;
    console.log(url)

    try {
        const response = await fetch(url);
        const messages = await response.json();
        console.log(messages)

        const chat_container = document.querySelector('.chat-container');
        chat_container.innerHTML = '';

        if (Array.isArray(messages)) {
            messages.forEach(message => {
                chat_container.innerHTML +=
                    `<div class="d-flex flex-row justify-content-end mb-1">
                        <div class="mw-75">
                            <p class="small me-3 mb-3 rounded-3 user-chat">${message.user_question}</p>
                        </div>
                        <img src="${userFotoPerfilUrl}" class="rounded-circle" style="width: 45px; height: 100%;">
                    </div>
                    <div class="d-flex flex-row justify-content-start mb-1">
                        <img src="${botImageUrl}" class="rounded-circle" style="width: 45px; height: 100%;">
                        <div class="mw-75">
                            <p class="small ms-3 mb-3 rounded-3 bot-chat">${message.bot_response}</p>
                        </div>
                    </div>`;
            });
        } else {
            console.error('A resposta não é um array de mensagens:', messages);
        }
        

        currentChatMessageId = chat_message_id;

    } catch (error) {
        console.error("Erro:", error);
    }
}


document.querySelectorAll('.view_messages_link').forEach(link => {
    link.addEventListener('click', function(event) {
        event.preventDefault();
        const chat_message_id = this.getAttribute('id').split('_')[2];
        renderMessages(chat_message_id);
    });
});


form.addEventListener('submit', submitForm)


// Bloco para ativação dos eventos
async function submitForm(e) {
    e.preventDefault();

    let message = textarea.value;

    const data = { 
        msg: message, 
        is_first_message: currentChatMessageId ? false : isFirstMessage,
        chat_message_id: currentChatMessageId || undefined
    };

    try {
        const chatId = await postJSON(data);

        if (isFirstMessage) {
            updateHistoryBlock(message, chatId);
        }

        isFirstMessage = false;
        currentChatMessageId = null;

        await renderMessages(chatId);

    } catch (error) {
        console.error("Error:", error);
    }
}




</script>

<script>




</script>
{% endblock 'script' %}