{% if hist_context %}
    <div class="history-block" id={{ id }}>
        <div class="mt-2"><small class="fw-bold fs-7 ms-3">{{ text }}</small></div>
        <ul>
            {% for tq in hist_context %}
                <li>
                    <div class="history-container" data-id="{{ tq.id }}" onmouseover="showButtons(this)" onmouseout="hideButtons(this)">
                        <a href="{% url 'chat:view_messages' tq.id %}" id="view_messages_{{ tq.id }}" class="view_messages_link">
                            <div class="history">
                                <div class="truncate text-truncate">{{ tq.message }}</div>
                            </div>
                        </a>
                        <div class="history-time">{{ tq.time_only }}</div>
                        <div class="history-buttons">
                            <button class="btn-edit btn-h"><i class="fa-solid fa-pencil"></i></button>
                            <button class="btn-delete btn-h"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </li>
            {% endfor %}  
        </ul>
    </div>
{% endif %}