{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <style>
        .profile-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;
            background-image: url("{% static 'base/img/assinatura-bg.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
        }

        .profile-image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-bottom: 20px;
        }

        .edit-form {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .edit-form label {
            display: block;
            margin-bottom: 5px;
        }

        .edit-form input,
        .edit-form button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        .edit-form button {
            background-color: #099c22;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>
{% endblock 'head' %}

{% block 'titulo' %}
    <title>Editar Perfil</title>
{% endblock 'titulo' %}

{% block 'conteudo' %}
    <div class="profile-container">
        
        <img src="{% if user.foto_perfil %}{{ user.foto_perfil.url }}{% else %}{% static 'path/para/placeholder.jpg' %}{% endif %}" alt="Profile Image" class="profile-image">

        <form class="edit-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {# Exibir mensagens de erro ou sucesso #}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <label for="nome">Nome Atual: {{ user.username }}</label>
            <input type="text" id="novo_nome" name="novo_nome" placeholder="Novo Nome">

            <label for="email">Email Atual: {{ user.email }}</label>
            <input type="email" id="novo_email" name="novo_email" placeholder="Novo Email">

            <label for="senha_atual">Senha Atual:</label>
            <input type="password" id="senha_atual" name="senha_atual" placeholder="Senha Atual">

            <label for="nova_senha">Nova Senha:</label>
            <input type="password" id="nova_senha" name="nova_senha" placeholder="Nova Senha">

            <label for="confirmar_senha">Confirmar Nova Senha:</label>
            <input type="password" id="confirmar_senha" name="confirmar_senha" placeholder="Confirmar Senha">

            <label for="oab">Número da OAB Atual: {{ user.oab }}</label>
            <input type="text" id="novo_oab" name="novo_oab" placeholder="Novo Número da OAB">

            <label for="foto_perfil">Nova Foto de Perfil:</label>
            <input type="file" id="nova_foto_perfil" name="nova_foto_perfil" accept="image/*">

            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
{% endblock 'conteudo' %}
